/*Se configura el footer*/
footer {
    background-color: rgb(66, 65, 65);
    grid-area: footer;
    text-align: center;

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        padding: 5px;
    }

    div {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }

    img {
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px;
        width: 35px;
        height: 35px;
    }
}