/*Se crean dos variables modificar los margenes*/
$margin-div: 5px;
$margin-h2: 10px;

/*Se configura el footer*/
footer {
    background-color: rgb(66, 65, 65);
    grid-area: footer;
    text-align: center;
    font-weight: small;

    h2 {
        font-size: medium;
        font-weight: bold;
        margin-top: $margin-h2;
        margin-bottom: $margin-h2;
        color: white;
        padding: 5px;
    }

    div {
        display: inline-block;
        margin-left: $margin-div;
        margin-right: $margin-div;
    }

    img {
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px;
        width: 35px;
        height: 35px;
    }
}