/*Se configura el main de Historia*/
#historia {
    background: rgb(135,231,255);
    background: linear-gradient(180deg, rgba(135,231,255,1) 0%, rgba(50,214,255,1) 46%, rgba(135,231,255,1) 72%);
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "jurisdicciones"
    "zonas"
    ;
    justify-content: center;
    align-items: center;

    .historiaJurisdicciones {
        grid-area: jurisdicciones;
        padding: 5px;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }
}

.historiaJurisdicciones{
    h2 {
        color: rgb(69, 63, 63);
        font-size: medium;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
    }

    p {
        border: 2px solid black;
        border-radius: 5px;
        background-color: white;
        padding: 5px;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
} 

.selectorBotonHistoria{
    button {
        background-color: white;
        border: 2px solid black;
        border-radius: 5px;
        justify-content: center;
        width: 300px;
        height: 25px;
        margin-top: 10px;
    }
} 

.selectorJurisdiccionesListadoHistoria {
    border-radius: 5px;
    display: none;
    list-style: none;
    font-weight: bold;

    li {
        background: rgb(51,170,255);
        background: linear-gradient(180deg, rgba(51,170,255,1) 5%, rgba(137,217,252,1) 50%, rgba(51,170,255,1) 95%);
        border: 2px solid black;
        width: 300px;
        border-radius: 5px;
        padding: 5px;
    }

    a {
        color: black;
        text-decoration: none;
        width: auto;
    }

    .selectorBotonHistoria:hover + &, &:hover {
        display: inline-block;
    }
}

.historiaArgentina {
    background: rgb(0,183,228);
    background: linear-gradient(0deg, rgba(0,183,228,1) 0%, rgba(50,214,255,1) 46%, rgba(135,231,255,1) 72%);
    
    article {
        grid-area: zonas;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;

        h2 {
            color: rgb(69, 63, 63);
            font-size: medium;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 5px;
        }

        h3 {
            color: rgb(69, 63, 63);
            font-size: small;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 5px;
        }

        h4 {
            color: rgb(69, 63, 63);
            font-size: smaller;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 5px;
        }

        p {
            border: 2px solid black;
            border-radius: 5px;
            background-color: white;
            padding: 5px;
            text-align: justify;
            width: auto;
            height: auto;
        }
    }

    
}

#historia {
    div {
        justify-content: center;
        text-align: center;
        margin-top: 10px;
    }

    img {
        width: 70px;
        height: 100px;
        border-radius: 5px;
    }

    .bandera {
        width: 250px;
        height: 150px;
    }

    .ubicacionArgentina {
        width: 250px;
        height: 150px;
    }

    article {
        iframe {
            border: 2px solid black;
            border-radius: 5px;
            width: 250px;
            height: 150px;
        }

        audio {
            width: 250px;
        }
    } 
} 

/*Media Query para main de página de historia*/
@media  (min-width: 768px) {

    #historia {
        grid-area: main;
        display: grid;
        grid-template-columns: 0.2fr 3fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "jurisdiccionesHistoria"
        "zonasHistoria"
        ;
        justify-content: center;
        align-items: center;

        .historiaJurisdicciones {
            grid-area: jurisdiccionesHistoria;
            padding: 5px;
            align-items: start;
            text-align: center;
            margin-bottom: 10px;
        }
    }
    
    .historiaJurisdicciones {
        h2 {
            color: rgb(69, 63, 63);
            font-size: medium;
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
        }

        p {
            border: 2px solid black;
            border-radius: 5px;
            background-color: white;
            padding: 5px;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }

    }

    .selectorBotonHistoria {
        button {
            display: none;
            background-color: white;
            border: 2px solid black;
            border-radius: 5px;
            justify-content: center;
            width: 300px;
            height: 25px;
            margin-top: 10px;
        }
    } 

    .selectorJurisdiccionesListadoHistoria {
        display: inline-block;
        list-style: none;
        font-weight: bold;

        li {
            background-color: rgb(137, 199, 211);
            border: 2px solid black;
            width: 150px;
            border-radius: 0px;
            padding: 5px;
        }

        .selectorBotonHistoria:hover + &, &:hover {
            display: inline-block;
        }
    }    

    .historiaArgentina {
        overflow-y: scroll;
        height: 880px;

        article {
            grid-area: zonasHistoria;
            display: grid;
            grid-template-columns: auto 300px;
            grid-template-rows: 50px auto;
            grid-template-areas:
            "tituloCiudadHistoria tituloCiudadHistoria"
            "parrafoHistoria Imagenes_audio"
            ;
            justify-content: center;
            align-items: center;

            h2 {
                grid-area: tituloCiudadHistoria;
                text-align: center;
            }   

            h3 {
                grid-area: tituloCiudadHistoria;
                text-align: center;
            }

            p {
                grid-area: parrafoHistoria;
                border: 2px solid black;
                width: 100%;
                max-width: 350px;
                margin: 10px;
                height: 100%;
                margin: 10px 5px 10px 5px;
            }

            div {
                grid-area: Imagenes_audio;
                width: auto;
                margin-left: 10px;
                margin-right: 10px;
            }
        }    
    }
}