/*Se agrega mixin de color de fondo*/
@mixin color-fondo1 {
    background: rgb(135,231,255);
    background: linear-gradient(180deg, rgba(135,231,255,1) 0%, rgba(50,214,255,1) 46%, rgba(135,231,255,1) 72%);
}

@mixin color-fondo2 {
    background: rgb(0,183,228);
    background: linear-gradient(0deg, rgba(0,183,228,1) 0%, rgba(50,214,255,1) 46%, rgba(135,231,255,1) 72%);
}

@mixin color-fondo-li {
    background: rgb(51,170,255);
    background: linear-gradient(180deg, rgba(51,170,255,1) 5%, rgba(137,217,252,1) 50%, rgba(51,170,255,1) 95%);
}

/*Se configura el main de Lugares*/
#lugares {
    @include color-fondo1;
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "jurisdicciones"
    "zonas"
    ;
    justify-content: center;
    align-items: center;

    .lugaresJurisdicciones {
        grid-area: jurisdicciones;
        padding: 5px;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }
}

.lugaresJurisdicciones {
    h2 {
        color: rgb(69, 63, 63);
        font-size: medium;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
    }
    
    p {
        font-weight: bold;
        border: 2px solid black;
        border-radius: 5px;
        background-color: white;
        padding: 5px;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}  

.selectorBoton {
    button {
        font-weight: bold;
        background-color: white;
        border: 2px solid black;
        border-radius: 5px;
        justify-content: center;
        width: 300px;
        height: 25px;
        margin-top: 10px;
    }

} 

.selectorJurisdiccionesListado {
    border-radius: 5px;
    display: none;
    list-style: none;
    font-weight: bold;

    li {
        
        @include color-fondo-li;
        border: 2px solid black;
        width: 300px;
        border-radius: 5px;
        padding: 5px;
    }

    a {
        color: black;
        text-decoration: none;
        width: auto;
    }
    
    .selectorBoton:hover + &, &:hover {
        display: inline-block;
    }
}

.lugaresZonas {
    @include color-fondo2;
    
    section {
        grid-area: zonas;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 40px 1fr;
        grid-template-areas: 
        "tituloCiudad tituloCiudad"
        "cuadrante1 cuadrante2"
        "cuadrante3 cuadrante4"
        ;

        h3 {
            grid-area: tituloCiudad;
            text-align: center;
            color: rgb(69, 63, 63);
            font-size: small;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    

    .cuadrante_1 {
        grid-area: cuadrante1;
        margin-top: 10px;
        margin-bottom: 10px;

        &:hover {
            transition: 2500ms;
            transform: rotateY(360deg);
        }
    }

    .cuadrante_2 {
        grid-area: cuadrante2;
        margin-top: 10px;
        margin-bottom: 10px;

        &:hover {
            transition: 2500ms;
            transform: rotateY(360deg);
        }
    }
    
    .cuadrante_3 {
        grid-area: cuadrante3;
        margin-top: 10px;
        margin-bottom: 10px;

        &:hover {
            transition: 2500ms;
            transform: rotateY(360deg);
        }
    }

    .cuadrante_4 {
        grid-area: cuadrante4;
        margin-top: 10px;
        margin-bottom: 10px;

        &:hover {
            transition: 2500ms;
            transform: rotateY(360deg);
        }
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h4 {
        background-color: white;
        border: solid black;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        color: rgb(69, 63, 63);
        width: 150px;
        height: 75px;
        text-align: center;
        padding: 5px;
    }

    img {
        border: 2px solid black;
        border-bottom: none;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width: 150px;
        height: 100px;
    }
}

/*Media Query para main de página de lugares*/
@media  (min-width: 768px) {
    #lugares {
        grid-area: main;
        display: grid;
        grid-template-columns: 0.2fr 3fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "jurisdicciones"
        "zonas"
        ;
        justify-content: center;
        align-items: center;

        .lugaresJurisdicciones {
            grid-area: jurisdicciones;
            padding: 5px;
            align-items: start;
            text-align: center;
            margin-bottom: 10px;
        }
    }
    
    .lugaresJurisdicciones {
        h2 {
            color: rgb(69, 63, 63);
            font-size: medium;
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
        }

        p {
            font-weight: bold;
            padding: 5px;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .selectorBoton {
        button {
            display: none;
            justify-content: center;
            width: 300px;
            height: 25px;
            margin-top: 10px;
        }
    } 

    .selectorJurisdiccionesListado {
        display: inline-block;
        list-style: none;
        font-weight: bold;

        li {
            border: 2px solid black;
            width: 150px;
            border-radius: 0px;
            padding: 5px;
        }

        .selectorBoton:hover + &, &:hover {
            display: inline-block;
        }
    }    

    .lugaresZonas {
        overflow-y: scroll;
        height: 880px;

        section {
            grid-area: zonas;
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 40px auto;
            grid-template-areas: 
            "tituloCiudad tituloCiudad tituloCiudad tituloCiudad"
            "cuadrante1 cuadrante2 cuadrante3 cuadrante4"
            ;

            h3 {
                grid-area: tituloCiudad;
            }
        }

        .cuadrante_1 {
            grid-area: cuadrante1;

            &:hover {
                transition: 2500ms;
                transform: rotateY(360deg);
            }
        }

        .cuadrante_2 {
            grid-area: cuadrante2;

            &:hover {
                transition: 2500ms;
                transform: rotateY(360deg);
            }
        }

        .cuadrante_3 {
            grid-area: cuadrante3;

            &:hover {
                transition: 2500ms;
                transform: rotateY(360deg);
            }
        }

        .cuadrante_4 {
            grid-area: cuadrante4;

            &:hover {
                transition: 2500ms;
                transform: rotateY(360deg);
            }
        }
    }
}