/*Se configura el main de Sobre Nosotros*/
#sobreNosotros {
    grid-area: main;
    background: rgb(135,231,255);
    background: linear-gradient(180deg, rgba(135,231,255,1) 0%, rgba(50,214,255,1) 46%, rgba(135,231,255,1) 72%);
    
    .col-6 {
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cont1 {
        margin: 10px 0px 10px 0px;
        text-align: center;
    }

    h2 {
        color: rgb(69, 63, 63);
        font-size: medium;
        font-weight: bold;
    }

    .cont2  {
        justify-content: center;
        align-items: center;
        margin: 10px 0px 10px 0px;
        flex-direction: column;
    }

    .textoNosotros {
        border: 2px solid black;
        border-radius: 5px;
        background-color: white;
        text-align: justify;
        justify-content: center;
        align-items: center;
        padding: 5px;
        max-width: 310px;
    }

    p {
        margin-bottom: 0px;
        min-width: 290px;
    }

    img {
        border: 2px solid black;
        margin-top: 10px;
        border-radius: 5px;
        max-width: 300px;
    }
}

/*Media Query para main de página de Sobre Nosotros*/
@media  (min-width: 768px) {
    #sobreNosotros {
        height: auto;

        .cont1 {
            margin: 10px 0px 10px 0px;
            text-align: center;
        }

        .cont2  {
            margin-top: 100px;
            margin-bottom: 70px;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }

        h2 {
            color: rgb(69, 63, 63);
            font-weight: bold;
            margin: 10px;
            padding: 5px;
        }
        
        .textoNosotros {
            border: 2px solid black;
            border-radius: 5px;
            background-color: white;
            display: flex;
            flex-direction: column;
            text-align: justify;
            margin-bottom: 0px;
            max-width: none;
            padding: 5px;
            height: 250px;
            justify-content: start;
        }

        p {
            font-weight: bold;
            margin: 0px;
        }

        section {
            div {
                img {
                    margin-top: 0px;
                    border-radius: 5px;
                    height: 250px;
                }
            } 
        } 
    }
}